<div style="font-size: 14.5px; font-family: Calibri;">
  <div>Hi ${employeeName},</div>
  <br>

  <div>
    <span>Your borrowed book - </span>
    <span>
      <a href="${bookDetailURL}">${bookTitle}</a>
    </span>
    <span> was overdue since </span>
    <span style="font-weight: bold; color: red;">${dueDate}</span>
    <span>, please return it soon!</span>
  </div>
  <br>

  <div>
    <span>FYA: </span>
  </div>
  <div>
    <span>1. You may not be able to borrow books any more if you have more than 3 overdue records.</span>
  </div>
  <div>
    <span>2. You need to pay fines for the items that are 30 days overdue and have not been returned to the library.</span>
  </div>
  <div>
    <span>3. If you lose a book that you have out on loan please let the Librarian know ASAP and pay the fines accordingly.</span>
  </div>
  <br>

  <div>
    <span>Any other questions please contact the</span>
    <a href="mailto:iris.luo@perficient.com?subject=Questions about borrowed books">Librarian</a>
    <span>.</span>
  </div>
  <br>

  <div>
    Thanks,
  </div>
  <div>
    Library
  </div>
</div>