<div style="font-size: 14.5px; font-family: Calibri;">
  <div>Hi ${employeeName},</div>
  <br>

  <div>
    <span>Your subscribed book - </span>
    <span>
      <a href="${bookDetailURL}">${bookTitle}</a>
    </span>
    <span> is available now, you can checkout from </span>
    <span>
      <a href="${bookDetailURL}">here.</a>
    </span>
  </div>
  <br>

  <div>
    <span>Any other questions please contact the</span>
    <a href="mailto:iris.luo@perficient.com?subject=Questions about subscribed books">Librarian</a>
    <span>.</span>
  </div>
  <br>
  <div>
    Thanks,
  </div>
  <div>
    Library
  </div>
</div>